breezy==3.0.2
certifi==2019.11.28
chardet==3.0.4
configobj==5.0.6
Cython==0.29.25
dbus-python==1.2.16
dulwich==0.19.15
fastimport==0.9.8
idna==2.8
Pygments==2.7.4
PyGObject==3.36.0
python-apt==2.0.0+ubuntu0.20.4.6
PyYAML==5.3.1
requests==2.22.0
requests-unixsocket==0.2.0
six==1.14.0
urllib3==1.25.8
